.AndroidStudio3.0/
.ICEauthority
.IntelliJIdea2017.3/
.Xauthority
.android/
.babel.json
.bash_history
.bash_logout
.bashrc
.cache/
.compiz/
.config/
.dmrc
.emulator_console_auth_token
.gconf/
.gksu.lock
.gnome/
.gradle/
.java/
.local/
.mozilla/
.node-gyp/
.node_repl_history
.npm/
.nvidia-settings-rc
.oracle_jre_usage/
.pia_manager_crash.log
.pki/
.profile
.ssh/
.sudo_as_admin_successful
.vscode-react-native/
.vscode/
.wget-hsts
.xsession-errors
.xsession-errors.old
.yarnrc
.zcompcache/
.zcompdump
.zcompdump.zwc
.zlogin
.zlogout
.zprofile
.zsh_history_bad
.zshenv
Android/
Desktop/
Downloads/
Music/
PS4 - Book Of The Dead (2018) Best Graphics of 2018 .mp4
Pictures/
Projects/
Release.key
Videos/
contrib/
dougstevenson_web.jpg
examples.desktop
google-chrome-stable_current_amd64.deb
kitty/
settings.jar
watchman/
